@charset "EUC-KR";
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	color: #252525;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

div#header {
	background: goldenrod;
	height: 150px;
}

div#header h1 {
	padding: 30px;
}

div#profile {
	background: whitesmoke;
	height: 600px;
	border-radius: 10px;
	padding: 50px;
}

div#profile h2 {
	height: 50px;
}

div#profileMain {
	float: left;
}

div#profileMain div#pic {
	width: 250px;
	height: 350px;
}

div#profileMain div#pic span {
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
}

div#profileMain div#pic #proName {
	width: 100x;
	font-size: 25px;
	font-weight: bold;
	line-height: 100px;
}

div#profileMain div#pic #proDept {
	line-height: 110px;
	font-size: 20px;
	text-align: left;
}

div#profile div#pic img {
	width: 200px;
	height: 250px;
	display: block;
}

div#profileEdit {
	width: 600px;
	overflow: hidden;
	margin-left: 400px;
}

div#profileEdit table {
	width: 500px;
}

div#profileEdit table tr {
	height: 30px;
}

div#profileEdit table th {
	width: 100px;
	text-align: left;
}

div#profileEdit table td {
	width: 200px;
	text-align: center;
}

div#profileEdit table td input {
	width: 250px;
	background: whitesmoke;
	border: none;
	padding: 10px;
	border-bottom: 1px solid gray;
}

table td#noline input[name='file'] {
	border: none;
}

div#profileEdit table td select {
	width: 250px;
	margin: 20px 0;
}

div#submit {
	text-align: center;
	height: 100px;
	line-height: 130px;
}

div#submit input {
	width: 100px;
	height: 40px;
	border: none;
	background: gray;
	margin-left: 20px;
	font-size: 15px;
	color: whitesmoke;
}
/* 에러 메세지 */
.errorMSG {
	color: tomato;
	display: none;
	font-size: 12px;
}

div#profileEdit table td #inputEmpAuth {
	background: darkgray;
}

div#profileEdit table td #inputEmpAuth::placeholder {
	color: black;
}

div#profileEdit table td #inputEmpPwd::placeholder {
	font-size: 12px;
}

div#profileEdit table td #inputCode {
   background: darkgray;
}