<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>YN_bank</display-name>
    <display-name>Board</display-name>
    <servlet>
        <servlet-name>ContorllerUsingURI</servlet-name>
        <servlet-class>com.yi.mvc.ContorllerUsingURI</servlet-class>
        <init-param>
            <param-name>configFile</param-name>
            <param-value>/WEB-INF/commandHandler.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DBCPInit</servlet-name>
        <servlet-class>com.yi.jdbc.DBCPInit</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContorllerUsingURI</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.yi.util.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.yi.util.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/main/main.do</url-pattern>
        <url-pattern>/main/noticeDetail.do</url-pattern>
        <url-pattern>/emp/empSearch.do</url-pattern>
        <url-pattern>/emp/empForm.do</url-pattern>
        <url-pattern>/emp/empAdd.do</url-pattern>
        <url-pattern>/emp/empAuth.do</url-pattern>
        <url-pattern>/emp/empBonus.do</url-pattern>
        <url-pattern>/emp/empBonusDetail.do</url-pattern>
        <url-pattern>/emp/empRealBonus.do</url-pattern>
        <url-pattern>/emp/empDetail.do</url-pattern>
        <url-pattern>/emp/empDetailForRetired.do</url-pattern>
        <url-pattern>/emp/empUpdate.do</url-pattern>
        <url-pattern>/emp/empAuthDetail.do</url-pattern>
        <url-pattern>/emp/empAuthUpdate.do</url-pattern>
        <url-pattern>/emp/empDelete.do</url-pattern>
        <url-pattern>/emp/empSearchRetired.do</url-pattern>
        <url-pattern>/emp/empProfile.do</url-pattern>
        <url-pattern>/emp/empProfileUpdate.do</url-pattern>
        <url-pattern>/cust/custSearch.do</url-pattern>
        <url-pattern>/cust/addCust.do</url-pattern>
        <url-pattern>/cust/addBusCust.do</url-pattern>
        <url-pattern>/cust/selectCust.do</url-pattern>
        <url-pattern>/cust/custDetail.do</url-pattern>
        <url-pattern>/cust/custUpdate.do</url-pattern>
        <url-pattern>/cust/custDelete.do</url-pattern>
        <url-pattern>/cust/custDeposit.do</url-pattern>
        <url-pattern>/cust/custDWSearch.do</url-pattern>
        <url-pattern>/cust/dwSelect.do</url-pattern>
        <url-pattern>/cust/custDWFunction.do</url-pattern>
        <url-pattern>/cust/custDWRecord.do</url-pattern>
        <url-pattern>/cust/custDWRecordDate.do</url-pattern>
        <url-pattern>/cust/custTransfer.do</url-pattern>
        <url-pattern>/cust/custTSelect.do</url-pattern>
        <url-pattern>/cust/custTtoSame.do</url-pattern>
        <url-pattern>/cust/custTtoDifferent.do</url-pattern>
        <url-pattern>/cust/custTFunction.do</url-pattern>
        <url-pattern>/cust/custTFunctionToOther.do</url-pattern>
        <url-pattern>/bankwork/bankbook/mgn.do</url-pattern>
        <url-pattern>/bankwork/bankbook/select.do</url-pattern>
        <url-pattern>/bankwork/bankbook/detail.do</url-pattern>
        <url-pattern>/bankwork/bankbook/add.do</url-pattern>
        <url-pattern>/bankwork/bankbook/dormantList.do</url-pattern>
        <url-pattern>/bankwork/bankbook/terminationList.do</url-pattern>
        <url-pattern>/bankwork/bankbook/terminatedDetail.do</url-pattern>
        <url-pattern>/bankwork/bankbook/statistic.do</url-pattern>
        <url-pattern>/bankwork/card/mgn.do</url-pattern>
        <url-pattern>/bankwork/card/select.do</url-pattern>
        <url-pattern>/bankwork/card/detail.do</url-pattern>
        <url-pattern>/bankwork/card/add.do</url-pattern>
        <url-pattern>/bankwork/loan/add.do</url-pattern>
        <url-pattern>/bankwork/loan/mgn.do</url-pattern>
        <url-pattern>/bankwork/loan/select.do</url-pattern>
        <url-pattern>/bankwork/loan/detail.do</url-pattern>
        <url-pattern>/bankwork/loan/detailList.do</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>